<div class="alert alert-danger" ng-show="view.error">{{ view.error }}</div>
<form ng-submit="view.update(view.product)" role="form">
	<div class="form-group">
		<input class="form-control" type="text" name="name" placeholder="Name" ng-model="view.product.name" />
	</div>
	<div class="form-group">
		<textarea class="form-control" name="description" placeholder="Description here" ng-model="view.product.description"></textarea>
	</div>
	<div class="form-group">
		<input class="form-control" type="text" name="image" placeholder="Image url" ng-model="view.product.image" />
	</div>
	<div class="form-group">
		<input class="form-control" type="text" name="price" placeholder="Price" ng-model="view.product.price" />
	</div>
	<div class="form-group">
		<input class="form-control" type="text" name="gain" placeholder="Gain" ng-model="view.product.gain" />
	</div>
	<div class="form-group">
		<label for="producer">Producer </label> <select class="form-control" name="producer" ng-model="view.product.producer">
			<option ng-selected="{{view.product.producer == null}}" value="" disabled>Select a producer</option>
			<option ng-repeat="producer in view.producers" ng-value="producer.id" ng-selected="producer.id == view.product.producer.id">{{ producer.name }}</option>
		</select>
	</div>
	<button type="submit" class="btn btn-default">Update</button>
</form>