<div class="row">
	<div class="col-md-6">
	<form ng-submit="view.order.$update()" role="form">
			<div class="form-group">
				<input class="form-control" type="text" name="delivery"
					placeholder="Delivery" ng-model="view.order.delivery" />
			</div>
			<div class="form-group">
			<button type="submit" class="btn btn-primary">Update</button></div>
		</form>
		<ul>
			<li ng-repeat="product in view.order.products">{{ product.name +
				" - " + product.format.value + "g - " + product.number}}</li>
		</ul>
		
		
	</div>
	<div class="col-md-6">
	<form ng-submit="view.search(view.productName)" role="form">
			<div class="form-group">
				<input class="form-control" type="text" name="search"
					placeholder="Search product" ng-model="view.productName" />
			</div>
			
			<div class="form-group">
			<button type="submit" class="btn btn-default">Search</button>
			</div>
		</form>
		<table class="table">
			<tbody>
				<tr>
					<th>Product</th>
					<th>Producer</th>
					<th>Format</th>
					<th>Number</th>
					<th>Action</th>
				</tr>
				<tr ng-repeat="product in view.products">
					<td>{{ product.name }}</td>
					<td>{{ product.producer.id }}</td>
					<td><input class="form-control" type="text" name="format"
						placeholder="Format" ng-model="product.format.value" /></td>
					<td><input class="form-control" type="text" name="number"
						placeholder="Number" ng-model="product.number" />
					<td><button type="button" class="btn btn-default"
							ng-click="view.add(product)">Add</button>
				</tr>
			</tbody>
		</table>
	</div>
</div>