<h3>Order # {{ view.order.id }} - {{ view.order.date }}</h3>
<p>{{ view.order.delivery }}</p>
<p><button ng-click="view.del(view.order)" class="btn btn-danger">Delete</button></p>
<table class="table">
	<tbody>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Format</th>
			<th>Producer</th>
			<th>Number</th>
		</tr>
		<tr ng-repeat="product in view.order.products">
			<td>{{ product.id }}</td>
			<td><a ng-href="#/product/{{ product.id }}">{{ product.name }}</a></td>
			<td>{{ product.format.value }}</td>
			<td>{{ product.producer.name }}</td>
			<td>{{ product.number }}</td>
		</tr>
	</tbody>
</table>